body {
	display:	block;
}


#content {
    
	width: 900px;
	margin: auto;
}


#topPage {
        position: 	static;
        width: 		900px;
        height: 	150px;
        border: 	thin solid black; 
}

#nav {
        position: 	static;
	width: 	 	900px;
	height: 	50px;
    border: 	thin solid black;
}

#subNav {
    position: 	static;
	float: 		left;
    width: 		200px;
	height:		500px;
    border: 	thin solid black;
}

#page {
   	position: 	static;
	margin-left: 200px;
	width:  	700px;
	height:		500px;
	border: 	thin solid black;
}

#pageFullWidth {
   	position: 	static;
	width:  	900px;
	height:		500px;
	border: 	thin solid black;
}

#footer {
        position: 	static;
	clear:		both;
	width:  	900px;
        height: 	50px;
        border: 	thin solid black;
}

.navitem{
	display: inline;
	padding-top: 17px;
	padding-bottom: 14px;
	padding-left:20px;
	padding-right:20px;
}

.navitem:hover{
	background-color: #00FF66;
	display: inline;
	padding-top: 17px;
	padding-bottom: 14px;
	padding-left:20px;
	padding-right:20px;
}

.navlink{
	padding: inherit;
	margin: inherit;
}

/*Pop-up login*/

#loginbtn{
	display:inline;
}

#loginForm{

}

/*
#loginul{
	margin-left: 200px;
	margin-top: -35px;
}
*/

#logindiv{
	display: none;
	float:right;
	position: absolute;
	margin-left: 687px;
	margin-top: -2px;
	background: white;
	border-color:black;
	border-style: solid;
	border-width: thin;
}

#logindivFull{
	margin-left: 275px;
	margin-top: 100px;
	border: solid black;
	width: 300px;
	display: inline-block;
	padding: 25px;
}

#loginformatting{
	list-style-type: none;
	padding-right: 30px;
}

#navbar{
	margin-left: -40px;
	display:inline-block;
}

#loginbar{
	display:inline-block;
	width:100px;
	position: relative;
	right: 10px;
	float:right;
}

#avatar{
	float: left;
	display: inline-block;
	width: 300px;
	max-height:300px;
	border: 1px solid black;
	margin: 25px;
}

#about
{
	float: left;
	display: inline-block;
	margin: 25px;
	width: 465px;
	border: 1px solid black;
}

/* login Styles
div.login {
	margin: 100px auto;
	width:	300px;
	border: thin solid black;
	padding: 25px;
}

div.login label{
	display:block;
	float:left;
	clear: left;
	width:100px;

}

div.login input{
}

button#login{
	display: block;
	clear: both;
	float: right;
	margin-top: 25px 25px 0 0;
}

div#userArea{
	float:right;
	margin: 5px 5px 0 0;
}
*/